/*
  Make Background light 
  Greyish and make it acquire full height
*/
.dashboard {
  background: #F1F3FA;
  height: 100vh;
}

.profile {
  margin: 20px 0;
}

.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

/*SideBar UserPic*/
.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}


.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.item::hover{
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

.list-link {
  padding: 10px 0px 10px 5px;
}

.list-link:hover{
  cursor: pointer;
}