<div class="ui bottom attached segment pushable grid">
  <div class="ui visible inverted left vertical sidebar menu four wide column">
    <a [routerLink]="['']" (click) ="backToHome()" class="item">
      <i class="home icon"></i>
      Home
    </a>
    <div class="item">
      <div class="left floated" *ngIf="(user$ | async).profile_image_url">
        <img class="ui tiny circular image" [src]="(user$ | async).profile_image_url?.replace('_normal', '')">
      </div>
      <div class="left floated" *ngIf="!(user$ | async).profile_image_url">
        <img src="" alt="" class="ui active inline loader">
      </div>
      <div>
        <h1>{{(user$| async)?.name}}</h1>
        <p>{{(user$ | async)?.description}}</p>
        <p>
          <i class="marker icon"></i>
          {{(user$| async)?.location}}
        </p>
        <p>
          <i class="calendar icon"></i>
          Joined {{(user$ | async)?.location}}
        </p>
        <p>
          <i class="birthday icon"></i>
          Born on May 2014
        </p>
      </div>
    </div>
    <!--User List -->
    <div *ngIf="userList$ | async" class="item">
      <i class="calendar icon"></i>
      <a (click)="backToHome()">List you Follow</a>
      <ul>
        <li *ngFor="let list of userList$ | async" [routerLink]= "['./feeds/' + list?.id]" class="list-link">
          {{ list.name | capitalize | stringify }}
        </li>
      </ul>
    </div>
    <!--UserList ENd-->
    
    <a [routerLink]="['']" (click) ="goToSuggestionPage()" class="item">
      <i class="cubes icon"></i>
      Suggestions
    </a>

    <a [routerLink]="['/login']" (click) ="signOutUser()" class="item">
      <i class="sign out icon"></i>
      Logout
    </a>
  </div>
  <div class="twelve wide column">
    <div class="ui basic segment">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>