<div class="ui bottom attached segment pushable grid">
  <div class="ui visible inverted left vertical sidebar menu four wide column">
    <a class="item">
      <i class="home icon"></i>
      Home
    </a>
    <div class="item">
      <div class="left floated">
        <img class="ui tiny circular image" [src]="(user$| async).profile_image_url?.replace('_normal', '')">
      </div>
      <div>
        <h1>{{(user$| async).name}}</h1>
        <a>Rails Developer</a>
      </div>
    </div>
    <!--User List -->
    <div *ngIf="userList$ | async" class="item">
      <i class="calendar icon"></i>
      List you Follow
      <ul>
        <li *ngFor="let list of userList$ | async" [routerLink]= "['./feeds/' + list?.id]">
          {{ list.name }}
        </li>
      </ul>
    </div>
    <!--UserList ENd-->
    <a [routerLink]="['']" (click) ="signOutUser()" class="item">
      <i class="sign out icon"></i>
      Logout
    </a>
  </div>
  <div class="twelve wide column">
    <div class="ui basic segment">
      <h3 class="ui header">Application Content</h3>
      <router-outlet></router-outlet>
     </div>
  </div>
</div>