<div class="content">
  <div class="header">{{ feed.user.name }}</div>
  <div class="meta">
    <span class="category">@{{feed.user.screen_name}}</span>
  </div>
  <div class="description" [routerLink]="['tweet/', feed?.id]">
    <p><span [innerHTML]="feed.text | linkify: feed.entities.urls"></span></p>
  </div>
</div>
<div class="extra content">
  <div class="left floated">
    <span class="retweet ">
      <i class="retweet icon clickable"></i> {{ feed.retweet_count }}&nbsp;&nbsp;  
    </span>
    <span class="heart">
      <i class="empty heart icon clickable" 
        (click)="addtoFavClicked()" *ngIf="!(feed.favorited)"></i> 
      <i class="red heart icon clickable" 
        (click)="removeFromFavClicked()" *ngIf="(feed.favorited)"></i>
        {{ feed.favorite_count }}
    </span>
  </div>
  <div class="right floated author">
    <img class="ui avatar image" [src]="feed.user.profile_image_url"> {{feed.user.name}}
  </div>
</div>