<div class="container">
  <div class="login-container">
    <div class="row" id="login-title">
        <h1>Login</h1>
    </div>
    <div class="btn-block">
      <button type="button" class="btn btn-md btn-social btn-facebook btn-margin social-btn-div" (click)="signInUser('facebook')">
          <i class="fa fa-facebook fa-fw"></i>Facebook
      </button>
      <button type="button" class="btn btn-md btn-social btn-twitter social-btn-div" (click)="signInUser('twitter')">
          <i class="fa fa-twitter fa-fw"></i>Twitter
      </button>
    </div>
  </div>
</div>

