/*.view {
    height: 100vh;
    background-size: cover;
    background: url("http://mdbootstrap.com/img/Photos/Horizontal/City/full%20page/img%20(1).jpg");
    background-position: 15%;
}*/

/* Navigation*/

/*.navbar {
    background-color: transparent;
}*/

/*.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}*/

/*.top-nav-collapse {
    background-color: #1C2331;
}


.hm-black-strong .full-bg-img, .hm-black-strong .mask {
  background-color: rgba(0,0,0,.7);
}

.full-bg-img {
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
}

.flex-center {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;    
}

#login-title h1 {
  font-family: Verdana;
}*/

/*.login-container {
padding: 100px 0;
text-align: center;
}

.social-btn-div {
padding: 10px;
margin: auto;  
}

.btn-facebook {
background: #3b5998;
}

.btn-twitter {
background: #00aced;
}

.btn-instagram {
background: #3F729B;
}

.btn-social {
color: white;
}

*/