<!--Navbar-->
<!--/-->
<!--/.Mask-->


<!--<div class="container">
  <div class="login-container">
    <div class="row" id="login-title">
        <h1>Login</h1>
    </div>
    <div>
      <h2>Already a Member?</h2>
      <button type="button" class="btn btn-primary" (click)="login()">
        <i class="fa fa-twitter left"></i>
        Twitter Login
      </button>
    </div>

    <div>
      <h2>New to Listify</h2>
      <button type="button" class="btn btn-primary" (click)="login()">
        <i class="fa fa-twitter left"></i>
        Sign Up Twitter
      </button>
    </div>

  </div>
</div>-->

<!--==================================================================-->

<a (click)="signUp()">Sign Up</a>
<button type="button" (click)="login()">Twitter Login</button>