<div class="container">
  <div class="login-container">
    <div class="row" id="login-title">
        <h1>Login</h1>
    </div>
    <div>
      <h2>Already a Member?</h2>
      <button type="button" class="btn btn-md btn-social btn-twitter social-btn-div" (click)="login()">
          <i class="fa fa-twitter fa-fw"></i>Login on Twitter
      </button>
    </div>

    <div>
      <h2>New to Listify</h2>
      <button type="button" class="btn btn-md btn-social btn-twitter social-btn-div" (click)="signUp()">
          <i class="fa fa-twitter fa-fw"></i>Sign Up on Twitter
      </button>
    </div>

  </div>
</div>

