.lightbox { 
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: lightblue;
    text-align: center;
}

.tc-content {
    position: relative;
    top: 30%;
}